DB_URL=jdbc:mysql://localhost:3306/cnpm_project_support?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Ho_Chi_Minh
DB_NAME=cnpm_project_support
DB_USERNAME=cnpm_user
DB_PASSWORD=your_password
APP_PORT=8080